*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}
.headerlogoaoje{
  animation-name: headerlogo1;
  animation-duration: 1.9s;
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0px 0px 5px 0px;
}
.headerlogo{
  display:flex;
  justify-content:center;
}
.navbar{
  animation-name: navbar;
  animation-duration: 1.9s;
  display:flex;
  justify-content:center;
  align-items: center;
  border-radius:5px;
  background: linear-gradient(50deg, red, green, blue, yellow)
}
.domaine-header{
  text-decoration:none;
  border-radius:10px;
  padding: 1px 1px 1px 1px;
  transition: background 5s;
  color:white;
  font-size:22px;
  margin: 0px 0px 0px 25px;
}
.domaine-header:hover{
  background: linear-gradient(-50deg, red, green, blue, yellow)
}
.logo-home{
  width:35px;
}
.header-acceuil h2{
  animation-name: titre-accueil;
  animation-duration: 2s;
  font-size: 2.1rem;
}
.header-acceuil{
  display:flex;
  justify-content:center;
  margin: 5px 0px 0px 0px;
  flex-direction: column;
  align-items: center;
}
.sép{
  animation-name: etoile;
  animation-duration:2s;
  width:275px;
}
.text-acc p{
    margin: 0px 20px 0px 20px;
}
.text-acc{
  animation-name: text-acc;
  animation-duration:2.5s;
  font-size:17px;
}
.text-acc h3{
  margin: 0px 0px 0px 30px;
}
